/* css file for login signup page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-page {
    display: block;
}
.login {
    display: flex;
    flex-wrap: wrap;
}
.image-backgground {
    order: 2;
    background-image: url("../signin-signup-page/images/login-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    min-width: 300px;
}
.login-info {
    order: 1;
    width: 100%;
    height: 100%;
}
.logo-login {
    margin: 30px 30px;
    width: 70px;
    height: 60px;
}
.sign-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: center;
    margin-bottom: 50px;
}
.sign-info>h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.sign-info>p {
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.btn-section {
    width: 50%;
    min-width: 300px;
    margin-top: 30px;
    row-gap: 30px;
    text-align: center;
}
.signup-btn {
    border-radius: 50px;
    padding: 15px 55px;
    background-color: rgb(103, 144, 255);
    color: white;
    border: 0px;
    cursor: pointer;
}
.signin-btn {
    border-radius: 50px;
    padding: 15px 95px;
    background-color: rgb(255, 255, 255);
    color: rgb(103, 144, 255);
    cursor: pointer;
}
.btn-section>h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.information {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
.information>a,
p {
    color: rgb(172, 172, 172);
    margin: 0 10px;
}
/* popup modal */
.pop-up {
    display: none;
    height: 80vh;
}
.popup-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    align-items: center;
    border-radius: 20px;
    min-width: 400px;
    min-height: 550px;
}
.popup-content>p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.popup-content>h5 {
    text-align: center;
}
.logo-signin {
    width: 50px;
    height: 40px;
}
.input {
    width: 300px;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
}
.small-input {
    width: 145px;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
}
.flex {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.pop-signup {
    display: none;
    height: 80vh;
}
.Login-btn {
    padding: 15px 130px;
    border-radius: 20px;
    background-color: rgb(103, 144, 255);
    color: white;
    border: 0;
    cursor: pointer;
}
.close {
    display: block;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.btn{
    width: 145px;
    padding: 15px;
    background-color: rgb(103, 144, 255) ;
    color: white;
    border-radius: 20px;
    border-style: 0px solid;
}
.checkbox{
    width: 300px;
}
/* css for Profile Page */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.header{
    display: flex;
    width:  90vw;
}
.arrow-back{
    display: block;
    color: #aaaaaa;
    font-size: 50px;
    font-weight: bold;
}
.Name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.Name > p {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.Name>h5{
    margin-left: 20px;
}
.cover-photo{
    width: 100vw;
    height: 300px;
}
.Profil-picture{
    position: absolute;
    top: 300px;
    left: 30vw;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.Profile{
    height: 120px;
    width: 100vw;
}
.profile-informations{
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 0 100px;
    gap: 10px;
}
.profile-informations > p {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
    font-weight: bold;
    color: black;
    min-width: 80px;
}
.profile-informations > h4 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px;
    min-width: 80px;
}
.Follow-info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50vw;
    align-content: center;
}
.profile-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Follow-info > h5 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px;
    font-weight: bold;
    min-width: 100px;
}
.edit-profile{
    padding: 10px 15px;
    background-color: rgb(103, 144, 255);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    min-width: 100px;
    margin-top: 10px;
}
.Tweet{
    text-align: center;
    margin-top: 30px;
    width: 90%;
    border-bottom: 1px solid black;
}
.Tweet-title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(103, 144, 255);
    margin-top: 50px;
}
.tweet-header{
    display: flex;
    text-align: center;
}
.name-date > p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    margin: 15px 40px 2px;
}
.tweet-profile{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 100px;
}
.tweet-text{
    margin: 20px 50px;
    text-align: left;
}
.tweet-text >p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
.likes{
    display: flex;
    float: left;
}
.likes > p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin: 7px;
}
.image{
    margin-top: 50px;
    height: 300px;
}
.images{
    display: flex;
    flex-wrap: wrap;
}
.heart{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* following btn (show when the user Press on Follow button */
.Following{
    display: none;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid rgb(103, 144, 255);
    min-width: 100px;
    margin-top: 10px;
}
/* edit popup */
.edit-popup{
    display: none;
    height: 80vh;
}
.edit-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    align-items: center;
    border-radius: 20px;
    min-width: 400px;
    min-height: 550px;
}
.label{
    justify-self: center;
}
.edit-section{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: column;
    width: 500px;
    align-items: center;
}
.remove-btn{
    padding: 7px 50px;
    border-radius: 20px;
    cursor: pointer;
}
.submit{
    padding: 10px 50px;
    border-radius: 20px;
}
.file{
    padding-top: 10px;
}
/* css for feed page */
.feed-container{
    display: flex;
}
.left-section{
    display: none;
    width: 28vw;
}
.feed-logo{
    width: 28vw;
    height: 28vh;
}
.feed-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.feed-profile > p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bold;
}
.feed-img{
    width: 130px;
    height: 130px;
    border-radius: 100px;
}
.search{
    width: 28vw;
}
.search-input, .search-user {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding-left: 10px;
}
.img-search{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.search-user{
    display: flex;
    width: 100%;
    background-color:rgb(103, 144, 255) ;
    align-items: center;
}
.search-name{
    width:23vw;
    display: flex;
    justify-content: space-between;
}
.search-name > p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.Follow-user{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
}
.user-info{
    display: flex;
    width: 23vw;
}
.user-info > p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.right-section{
    margin-left: 30px;
    width: 100vw;
}
.tweet-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tweet-section >p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bold;
}
.tweet-input{
    width: 80%;
    height: 150px;
    border-radius: 30px;
}
.tweet-btn{
    margin-right: 30px;
    align-self: flex-end;
    padding: 10px 30px;
    border-radius: 20px;
    background-color:rgb(103, 144, 255) ;
    color: white;
    margin-bottom: 50px;
}
.tweet-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Tweet-feed{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 50px;
}
/* css to the feed page mobile version */
.search-phone{
    width: 100%;
    height: 8vh;
    border-radius: 10px;
}
.phone-user{
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}
.phone-search{
    border-radius: 100px;
}
.user-phone-search{
    border-radius: 100px;
    width: 40px;
    height: 40px;
}
.search-info{
    display: flex;
    flex-direction: column;
}
.phone-search-name{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.user-info-phone{
    display: flex;
    justify-content: space-between;
}
.Follow-user-phone{
    border-radius: 20px;
    padding: 4px 8px;
    background-color:rgb(103, 144, 255)  ;
    color: white;
}
.phone-search-name> p{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bold;
}
.user-info-phone > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
}
.phone-text{
    margin-left: 10px;
    margin-top: 10px;
}
.phone-text>p{
    color: #000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* media query */
@media (min-width: 768px) {
    .login-page {
        display: block;
    }
    .image-backgground {
        width: 50%;
        padding: 50px;
        order: 1;
    }
    .login-info {
        order: 2;
        width: 50%;
    }
    .pop-up {
        display: none;
        position: fixed;
        z-index: 1;
        padding: 50px 250px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    .pop-signup {
        display: none;
        position: fixed;
        height: 600px;
        z-index: 1;
        padding: 25px 250px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    .popup-content {
        border: 1px solid black;
    }
    .close-popup{
        width: 350px;
    }
    .close {
        display: block;
        color: #aaaaaa;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    /* media query for profile page */
    .Profil-picture{
        left: 6vw;
        width: 150px;
        height: 150px;
    }
    .profile-informations{
        width: 100vw;
    }
    .profile-info{
        justify-content: space-between;
    }
    .Tweet{
        width: 50%;
    }
    /* css for the feed page */
    .left-section{
        display: block;
    }
    .right-section{
        width: 72vw;
    }
    .Tweet-feed{
        width: 80%;
    }
    .phone-search{
        display: none;
    }
}
/* Utilities */
/* Utilises */

.red-color-text{
    color: red;
}
.red-color-text::placeholder{
    color: red;
}
.file-upload {
    border: 1px solid white;
    border-radius: 3px;
    width: 145px;
    background-color: rgb(103, 144, 255) ;
    color: white;
    border-radius: 20px;
    border-style: 0px solid;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1vw;
    text-align: center;
    height: 2.5vw;
  }
  
  .file-upload> input {
    overflow: hidden;
    width: 0;
  }
  .all-tweets{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .relation{
    display:flex;
    flex-direction:column;
  }
  .relation>div{
    margin-top: 1vw;
  }
  .btn-block{
    background-color: rgb(201, 27, 27);
  }